*{
    margin:0;
    padding:0;
}
body{
    background-color:skyblue;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display:flex
}
.clock{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: white;
    border: 10px solid black;
    border-radius: 50%;
}
.nut,.nut-2{
    position: absolute;
    top:50%;
    left:50%;
    width: 10px;
    height: 10px;
    top:50%;
    background-color: black;
    transform: translate(-50%,-50%);
    border: 3px solid royalblue;
    border-radius: 50%;
}
.indicator div{
    position: absolute;
    width: 2px;
    height: 5px;
    top: 50%;
    left:50%;
    background: black;
}

.indicator div:nth-child(1){
    transform: rotate(30deg) translateY(-114px);
}
.indicator div:nth-child(2){
    transform: rotate(60deg) translateY(-114px);
}
.indicator div:nth-child(3){
    transform: rotate(90deg) translateY(-114px);
    background-color: royalblue;
}
.indicator div:nth-child(4){
    transform: rotate(120deg) translateY(-111px);
}
.indicator div:nth-child(5){
    transform: rotate(150deg) translateY(-111px);
}
.indicator div:nth-child(6){
    transform: rotate(180deg) translateY(-111px);
    background-color: royalblue;
}
.indicator div:nth-child(7){
    transform: rotate(210deg) translateY(-111px);
}
.indicator div:nth-child(8){
    transform: rotate(240deg) translateY(-111px);
}
.indicator div:nth-child(9){
    transform: rotate(270deg) translateY(-114px);
    background-color: royalblue;
}
.indicator div:nth-child(10){
    transform: rotate(300deg) translateY(-114px);
}
.indicator div:nth-child(11){
    transform: rotate(330deg) translateY(-114px);
}
.indicator div:nth-child(12){
    transform: rotate(360deg) translateY(-114px);
    background-color: royalblue;
}

.hand-seconds{
    position: absolute;
    width: 1px;
    height:1px;
    z-index: 5;
    animation: hand-seconds 60s linear infinite;
}
.hand-seconds:before{
position: absolute;
content: '';
height:120px ;
width: 3px;
top: -25px;
left: -1px;
background-color: red;
border-radius: 3px;
}
.hand-seconds:after{
    position: absolute;
    content: '';
    height:20px ;
    width: 7px;
    top: -44px;
    left: -3px;
    background-color: red;
    border-radius: 3px;
}
.hand-minute{
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 4;
    animation: hand-minute 3600s linear infinite;
}
.hand-minute:before{
    position: absolute;
    content: '';
    height:95px ;
    width: 6px;
    top: -80px;
    left: -3px;
    background-color: black;
    border-radius: 3px;
}
.hand-minute:after{
position: absolute;
content: '';
height: 10px;
width: 7px;
background-color: black;
top: 10px;
border-radius: 3px;
left: -3.5px;
}
.hand-hour{
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 3;
    animation: hand-hour 43200s linear infinite;
}
.hand-hour:before{
    position: absolute;
    content: '';
    height:65px ;
    width: 5px;
    top: -53px;
    left: -2px;
    background-color: black;
    border-radius: 10px;
}
.hand-hour:after{
    position: absolute;
    content: '';
    height: 10px;
width: 7px;
background-color: black;
top: 10px;
left: -3.2px;
  }